body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: Tahoma;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: #020617;
    padding: 25px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 20px #000;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background: #2563eb;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    opacity: 0.8;
}

button.danger {
    background: #dc2626;
}

#output {
    margin-top: 15px;
    background: #020617;
    padding: 10px;
    border-radius: 8px;
    font-size: 13px;
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
}
